@import 'variables/_variables-master';

.home {
  background-color: color(secondary);
  width: 100%;
  min-height: 100vh;
  padding: 75px 0;
  &__sort {
    cursor: pointer;
    color: color(tertiary);
    padding: 10px 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid color(tertiary);
    &-icon {
      margin-right: 10px;
    }
    &-chosen {
      color: color(primary);
      font-weight: 600;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-description {
      font-size: font-size(body-m);
      font-weight: 600;
      line-height: 10px;
    }
    &-title {
      font-family: font-family(secondary);
      font-size: font-size(m);
      font-weight: bolder;
      color: color(black);
      margin-top: 40px;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 40px;
    padding: 0 30px;
  }
  &__search {
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }
}
