@import './utilities';
/*==================================
=            Typography            =
==================================*/
/**
	Define here all the typographies and sizes of the web fonts. We can use HTML tags directly or conceptual terms like title, lead...
**/
$font-family-basic: (
  raleway: (
    'Raleway',
    sans-serif,
  ),
  montserrat: (
    'Montserrat',
    sans-serif,
  ),
);

$font-family: (
  default: map-get($font-family-basic, raleway),
  primary: map-get($font-family-basic, ralewat),
  secondary: map-get($font-family-basic, montserrat),
);

$font-size: (
  html: 16px,
  /* base font size. Do not touch if you don't know what you're doing */ body:
    rem-calc(18),
  body-s: rem-calc(14),
  body-m: rem-calc(16),
  body-overtitle: rem-calc(14),
  caption: rem-calc(14),
  input: rem-calc(14),
  label: rem-calc(12),
  default: rem-calc(14),
  button: rem-calc(14),
  icon: rem-calc(16),
  desktop-xxl: rem-calc(90),
  desktop-xl: rem-calc(76),
  desktop-sub-xl: rem-calc(70),
  desktop-l: rem-calc(54),
  desktop-m: rem-calc(34),
  mob-l: rem-calc(30),
  mob-xl: rem-calc(40),
  xl: rem-calc(68),
  l: rem-calc(44),
  m: rem-calc(34),
  s: rem-calc(24),
  xs: rem-calc(24),
  q: rem-calc(26),
  sub-m: rem-calc(20),
  sub-s: rem-calc(18),
  sub-l: rem-calc(28),
  title-l: rem-calc(48),
);
