@import 'variables/_variables-master';
@import 'base/_base-master';

.favourites {
  background-color: color(secondary);
  min-height: 100vh;
  padding: 100px 30px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
  }

  &__no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: color(primary);
    font-size: font-size(sub-l);
    @media only screen and (max-width: responsive(mobile-large)) {
      font-size: font-size(sub-m);
      text-align: center;
      img {
        width: 300px;
      }
    }
  }
}
.remove_modal {
  padding: 15px 40px 40px;
  color: color(primary);
  font-size: font-size(sub-l);
}
