<div class="header">
  <div class="header__home">
    <a [routerLink]="'/'">
      <img
        class="header__home-icon"
        src="assets/icons/wallapop-icon.png"
        alt="Wallapop Logo"
      />
    </a>
    <div class="header__search">
      <app-input-search
        [placeholder]="'SHARED.search_placeholder' | translate"
        (inputChange)="onInputChange($event)"
      ></app-input-search>
    </div>
    <div
      class="header__favourite"
      [routerLink]="'/favourites'"
      [routerLinkActive]="['header__favourite-active']"
    >
      <fa-icon [icon]="likeIconSolid"></fa-icon>
      <span>{{ 'SHARED.favourites' | translate }}</span>
    </div>
    <div class="header__langs">
      <ng-container *ngFor="let lang of langs">
        <span
          [ngClass]="{ 'header__langs-active': lang === activeLang }"
          (click)="setLang(lang)"
          >{{ lang | uppercase }}</span
        >
      </ng-container>
    </div>
  </div>
</div>
