@import 'variables/_variables-master';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  border-bottom: 2px solid rgba(color(tertiary), 0.1);
  background-color: color(white);
  padding: 0 32px;

  &__home {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-icon {
      height: 50px;
      width: 50px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &__langs {
    cursor: pointer;
    font-size: font-size(label);
    color: color(tertiary);
    span {
      padding: 5px;
      &:first-child {
        border-right: 2px solid color(secondary);
      }
    }
    &-active {
      color: color(primary);
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}
